<div class="custom-temp">
  <ul *ngFor= 'let item of allWeathersData;'>
    <li><span>Location: </span><span>{{item.location}}</span></li>
    <li><span>Postal Code: </span><span>{{item.postalCode}}</span></li>
    <li><span>Temperature: </span><span>{{item.temperature}}</span></li>
    <li><span>humidity: </span><span>{{item.humidity}} %</span></li>
    <li><span>wind: </span><span>{{item.wind}} km/h</span></li>
    <li><span>Weather: </span><span>{{item.weather}}</span></li>
  </ul>
</div>
